---
import '../styles/index.css';
import '../styles/content.css';
import '@wevisdemo/ui/styles/typography.css';

import HeadSEO from '../components/HeadSEO.astro';
import LeftSidebar from '../components/LeftSidebar';

import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';

import '@wevisdemo/ui/styles/navbar.css';
import '@wevisdemo/ui/styles/nav-button-link.css';
import WvNavbar from '@wevisdemo/ui/.mitosis/react/navbar';
import WvNavButtonLink from '@wevisdemo/ui/.mitosis/react/nav-button-link';

import '@wevisdemo/ui/styles/footer.css';
import WvFooter from '@wevisdemo/ui/.mitosis/react/footer'

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-US'}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        frontmatter.title
          ? `${frontmatter.title} — ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
  </head>

  <body>
    <a href="#content" class="sr-only focus:not-sr-only">Skip to Content</a>
    <WvNavbar title="DESIGN SYSTEM" dark animated alwayShowSlot>
      <WvNavButtonLink href="https://github.com/wevisdemo/design-systems" dark>
        GitHub
      </WvNavButtonLink>
    </WvNavbar>

    <main
      class="grid-cols-1 lg:grid-cols-content mx-auto grid w-full gap-8 p-4 md:max-w-[1280px] my-8"
    >
      <LeftSidebar client:idle currentPage={currentPage} sidebar={CONFIG.SIDEBAR}/>
      <div
        id="content"
        class="main-content !max-w-none overflow-hidden"
      >
        <h1>{frontmatter.title}</h1>
        <slot />
      </div>
      {
        headings.filter(({ depth }) => depth > 1 && depth < 4).length > 0 &&
        <aside id="grid-right" class="hidden lg:block" title="Table of Contents">
          <nav class="sticky top-4 max-h-[calc(100vh_-_2rem)] overflow-y-auto" aria-labelledby="grid-right">
            <h2 class="wv-kondolar wv-h9 wv-bold mb-1">On this page</h2>
            <ul>
              {
                headings
                  .filter(({ depth }) => depth > 1 && depth < 4)
                  .map((heading) => (
                    <li>
                      <a class="sidebar-li-a" href={`#${heading.slug}`}>
                        {heading.text}
                      </a>
                    </li>
                  ))
              }
            </ul>
          </nav>
        </aside>
      }
    </main>

    <WvFooter dark />

    <script>
      Array.from(document.getElementsByTagName('pre')).forEach((element) => {
        element.setAttribute('tabindex', '0');
      });
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
  </body>
</html>
