---
import { SIDEBAR } from '../../config';

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props as Props;
const currentPageMatch = currentPage.endsWith('/')
  ? currentPage.slice(1, -1)
  : currentPage.slice(1);
---

<nav class="sticky top-4 max-h-[calc(100vh_-_2rem)] overflow-y-auto" aria-labelledby="grid-left">
  <ul>
    {
      SIDEBAR.map((item) =>
        'header' in item ? (
          <li class="mt-2 first:mt-0">
            <h4 class="wv-kondolar wv-h9 wv-bold mb-1">{item.header}</h4>
            <ul>
              {item.pages.map((page) => (
                <li>
                  <a
                    class="left-sidebar-li-a"
                    href={`${import.meta.env.BASE_URL}${page.link}`}
                    aria-current={
                      currentPageMatch === page.link ? 'page' : false
                    }
                  >
                    {page.text}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ) : (
          <li>
            <a
              class="left-sidebar-li-a"
              href={`${import.meta.env.BASE_URL}${item.link}`}
              aria-current={currentPageMatch === item.link ? 'page' : false}
            >
              {item.text}
            </a>
          </li>
        )
      )
    }
  </ul>
</nav>
